<div class="index">
    <div class="elever">
        <h2 class="elever">Elever:</h2>
        <div class="elever-list">
            <ul>
                <% @elever.each do | f | %>
                    <li><h3 class="elev-list-item"> <%= f["name"]%> </h3></li>
                <% end %>
            </ul>
        </div>
    </div>
    <div class="run-game">
        <button class="run-game">Kör spel!</button>
    </div>
</div>