<form action="/elever" method="post" enctype="multipart/form-data">
    <label>Namn <input type="text" name="elev_name"></label>
    <label>Age <input type="number" name="elev_age"></label>
    <label>Beskrivning <input type="text" name="elev_description"></label>
    <label>Klass <input type="text" name="elev_class"></label>
    <label>Bild <input type="file" name="elev_image"></label>
    <input type="submit" value="Spara">
</form>
