<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sinatra skeleton</title>
    <link rel="stylesheet" type="text/css" href="/style.css?<%=Time.now.to_i%>"> 
    <link rel="stylesheet" type="text/css" href="/temp-style.css?<%=Time.now.to_i%>"> 
</head>
<body>
    <header>
        <div class="top">
            <div class="topButton">
                <button id="homeButton" onClick="window.location.href = '/elever'"></button>
            </div>
            <div class="topMain">
                <h1 class="top">Välkommen</h1>
                <form action="/elever/search" method="POST" class="top">
                    <input id="elev-search" name="elev-search" class="top" type="text" placeholder="Sök efter elev"/>
                    <input class="topSubmit" type="submit" value="">
                </form>
            </div>
        </div>
    </header>
    <main>
        <%= yield %>
    </main>
    <footer>
        
    </footer>
</body>
</html>