div.top {
    display: flex;
    align-items: center;
    width: 100vw;
    padding: 20px;
}
div.topButton {
    display: flex;
    align-items: center;
    height: 100%;
    width: 2em;
}
div.topMain {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: calc(100% - 2em);
    padding-right: 2em;
}
#homeButton {
    margin: 0;
    height: 3em;
    width: 4em;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("home-icon.png");
    background-color: white;

    border-color: white;
}
h1.top {
    margin: 0;
}
form.top {
    display: flex;
    align-items: center;
    margin-left: 1%;
}
input.top {
    margin: 0;
    border-radius: 5px;
    height: 2em;
}
input.topSubmit {
    width: 2em;
    height: 2em;

    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url("search-icon.png");
    background-color: white;

    border-top-right-radius: 30%;
    border-bottom-right-radius: 30%;
}